.app {
  text-align: center;
  background-color: darkslategray;
  color: white;
  min-height: 100vh;
  top: 0;
}

.tweet {
  border-radius: 30px;
  margin-top: 2rem;
  height: 300px;
  width: 300px;
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.tweet button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
}

.gray {
  background-color: gray;
}

.green {
  background-color: darkgreen !important;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}



