.app {
  text-align: center;
  background-color: wheat;
  color: white;
  min-height: 100vh;
  top: 0;
}

.tweet {
  box-shadow: black 1px 1px 10px;
  border: 1px solid black;
  margin: 2rem 2rem 2rem 2rem;
  min-height: 15rem;
  width: 20rem;
  background-color: rgba(255,255,255,0.5);
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.tweet button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: auto 0.5rem auto 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: darkred;
  color: white;
}

.gray {
  background-color: gray;
}

.green {
  background-color: darkgreen !important;
}

.tweet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  //margin: auto 25rem auto 25rem;
  //background-color: slategray;
}

.tweet-creator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  height: 100%;
}

.tweet-creator {
  border: none;
  transform: scale(1.5);
  width: 66.6%;
  overflow-x: hidden;
  background-color: burlywood;
  border-bottom: 1px solid black;
}

.tweet-creator button {
  margin-top: 1rem;
  background-color: steelblue;
}

.tweet-creator input {
  margin-top: 1rem;
}


